* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", serif;
    font-size: 20px;
    background-color: #cdfffd;
    color: #000000;
    font-style: normal;
}

header {
    background-color: #004650;
    padding: 15px 0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none !important;
}

.nav_link {
    font-size: 18px;
    padding: 20px;
}

.nav_link:hover {
    color: #653ffc;
}

.main {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #368a80;
    text-align: center;
}

.main_descr {
    color: #202020;
    font-size: 25px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    color: #113949;
    margin-top: 30px;
}

.frame {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    border: 3px solid #84f5e8;
}

.indx_gallery_img {
    width: 300px;
    border-radius: 10px;
    margin: 50px;
}

.indx_gallery_item {
    text-decoration: none;
}

.gallery {
    list-style: none;
}

.gallery_item {
    margin: 50px;
}

.gallery_img {
    width: 300px;
    border-radius: 10px;
}

#galleryTable {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border: 2px solid #25655e54;
    background: #abdddb;
}

.table_row {
    border: 2px solid #25655e54;
}

.table_cell {
    border: 2px solid #25655e54;
}

.table_caption {
    font-weight: bold;
    font-size: 25px;
    color: #113949;
}

.table_header {
    background-color: #264653;
    color: white;
}

.table_img {
    width: 200px;
}

.table_link {
    text-decoration: none;
    color: #264653;
    font-weight: bold;
}

.table_link:hover {
    color: #653ffc;
}

.main_link {
    text-decoration: none;
    color: #264653;
    font-size: 30px;
    font-weight: bold;
}

.main_link:hover {
    color: #653ffc;
}

.ab_main {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2fdff;
    border-radius: 10px;
}

.link {
    color: #004650;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: #653ffc;
}

.list {
    font-family: "Marck Script", cursive;
    font-size: 21px;
    color: #000000;
    background-color: #e6fffe;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #abdddb;
}

.list_ord {
    list-style: decimal;
    padding-left: 30px;
}

.list_unord {
    list-style: square;
    padding-left: 30px;
}

.list_item,
dd {
    margin-bottom: 5px;
    font-weight: bold;
    color: #653ffc;
}

dt {
    font-weight: bold;
    margin-top: 10px;
    color: #368a80;
}

#aboutTable {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #25655e54;
    background: #e6fffe;
}